#contact{
    padding: 100px 0;
}
#contact .contact_main .heading{
    padding: 10px 10px;
    background-color: var(--main-color);
    color: var(--color);
    font-weight: var(--heading);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 100px;
}
#contact .contact_main .contact_item{
    padding: 50px 0;
}
#contact .contact_main .contact_item .contact_inner{
    padding: 50px 0;
}
#contact .contact_main .contact_item .contact_inner h3{
    text-align: left;
    font-weight: 700;
    font-family: var(--font);
    padding: 20px 0;
}
#contact .contact_main .contact_item .contact_inner i{
    color: var(--main-color);
    padding-right: 10px;
    font-size: 30px;
}
#contact .contact_main .contact_item .contact_inner h5{
    color: var(--overlay);
    font-weight: 300;
    font-family: var(--font);
}
#contact .contact_main .contact_item .contact_inner .contact_form{
    padding: 50px 20px;
    background-color: var(--main-color);
    border-radius: 10px;
}
#contact .contact_main .contact_item .contact_inner .contact_form label{
    color: var(--color);
    font-size: 16px;
    font-weight: 300;
    font-family: var(--font);
}
#contact .contact_main .contact_item .contact_inner .contact_form input{
    background-color: transparent;
    border: 2px solid var(--color);
}
#contact .contact_main .contact_item .contact_inner .contact_form textarea{
    background-color: transparent;
    border: 2px solid var(--color);
}
#contact .contact_main .contact_item .contact_inner .contact_form .btn{
    background-color: var(--color);
    color: var(--main-color);
    margin: 20px 0;
    padding: 6px 30px;
    transition: var(--speed);
    border: 2px solid var(--main-color);
}
#contact .contact_main .contact_item .contact_inner .contact_form .btn:hover{
    color: var(--color);
    background-color: transparent;
    border: 2px solid var(--color);
    transform: scale(1.5);
    overflow: hidden;
}